@import "src/scss/colors";

.head {
  padding: 30px;
  border-bottom: 1px solid $border-color;
  h3 {
    font-family: 'Whitney-semibold', sans-serif;
    margin-top: 0;
    margin-bottom: 3px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: $main-text-color;
  }
  span {
    font-family: 'Whitney-book', sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 17px;
    color: $subtitle-text-color;
  }
}

.info {
  font-family: 'Whitney-book', sans-serif;
  margin: 30px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: $subtitle-text-color;
  display: grid;
  grid-gap: 15px;
  .address {
    display: grid;
    grid-gap: 0.5em;
  }
  .other {
    display: grid;
    grid-gap: 0.5em;
  }
}

.link {
  font-family: 'Whitney-semibold', sans-serif;
  color: $button-text-color;
  margin-left: 10px;
}
