$main-color:#E5E5E5;
$second-main-color:#FFFFFF;

$button-background:#F25B24;

$main-text-color:#2E2D35;
$title-text-color:#474351;
$subtitle-text-color:#918D9A;
$active-text-color:#F25B24;
$button-text-color:#FFFFFF;

$border-color: #ECEAF2;
