@font-face {
  font-family: 'Whitney-bold';
  src: url('/fonts/Whitney/whitneybold-webfont.woff2') format('woff2'),
  url('/fonts/Whitney/whitneybold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Whitney-book';
  src: url('/fonts/Whitney/whitneybook-webfont.woff2') format('woff2'),
  url('/fonts/Whitney/whitneybook-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Whitney-medium';
  src: url('/fonts/Whitney/whitneymedium-webfont.woff2') format('woff2'),
  url('/fonts/Whitney/whitneymedium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Whitney-semibold';
  src: url('/fonts/Whitney/whitneysemibold-webfont.woff2') format('woff2'),
  url('/fonts/Whitney/whitneysemibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
